.quick_actions li span:nth-of-type(2) {
    @apply text-sm text-eaziDark mt-3;
}


.quick_actions li span:nth-of-type(1) {
    @apply px-2 py-3 block rounded-xl mb-3 max-w-[50px] mx-auto;
}

.quick_actions {
    @apply mt-9 grid grid-cols-1 gap-2;
}

.quick_actions li {
    @apply py-4 px-6 font-medium text-center flex-1 mt-4;
    border-radius: 24px;
    border: 1px solid var(--new-styles-grays-outline, #E7E8E7);
    background: #FFF;
    /* Light Mode/Shadow (MD) */
    box-shadow: 0px 9px 18px 0px rgba(170, 170, 170, 0.15);

}

.search_container {
    background-image: url(/images/search.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.showcase {
    background-image: url(/images/showcase-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media(min-width: 1024px) {
    .quick_actions {
        @apply grid-cols-2;
    }
}

@media(min-width: 1440px) {
    .quick_actions {
        @apply grid-cols-4;
    }

    .quick_actions li {
        @apply mr-8
    }
}